{% extends "base.html" %} <!--Links this child template(home.html) to the parent template(base.html)-->
{% load static %} <!--loading the template tag of static into this template -->

{% block title %}Login{% endblock %} <!--Defining the title of this template that will be inherited by the parent template(base.html)-->
{% block style %}<link rel="stylesheet" href="{% static 'css/forms.css' %}">{% endblock %} <!--Defining the stylesheet of this template that will be inherited by the parent template(base.html)-->

{% block loggedout_content %} <!--Defining the logged out content that will be inherited by the parent template(base.html)-->
<div id="formpage">
<form method="POST" class="form"> <!--Once this form is submitted, a request from the user will be sent to the view function of this template using the POST method-->
    {% csrf_token %} <!--For Cross-Site Request Forgery(CSRF) protection-->
    <!--The fields of the "form" that's stored in the context of view function of this template is passed to this template and displayed below.-->
    <h2 class="horizontal-center">LOGIN FORM</h2>
    {% if form.non_field_errors %} <!--If the non-field validation of this form fails, then this displays validation errors stated in the forms.py for this form-->
        {{ form.non_field_errors }}
    {% endif %}
    <label for="username">Username:</label>
    {{form.username}}
    <br>
    <label for="password">Password:</label>
    {{form.password}}
    <br>
    <button type="submit" class="form-btn">Login</button>
    <p class="horizontal-center">Don't have an account? Sign up by clicking <a href="{% url 'signup' %}">here!</a></p>
</form>
</div>
</div>
{% endblock %}
{% block loggedin_content %} <!--Defining the logged in content that will be inherited by the parent template(base.html)-->
<div id="accessdeniedpage">
    <div id="accessdenied">
        <h1>Access Denied!</h1>
        <br>
        <p> In order to access this page, you'll need to logout from this website first!</p><br>
        <p> Click <a href="{% url 'profile' %}">here</a> and logout from the website.</p>
    </div>
</div>
{% endblock %}
