{% extends "base.html" %} <!--Links this child template(home.html) to the parent template(base.html)-->
{% load static %} <!--loading the template tag of static into this template -->

{% block title %}Profile Page{% endblock %} <!--Defining the title of this template that will be inherited by the parent template(base.html)-->
{% block style %}<link rel="stylesheet" href="{% static 'css/profile.css' %}">{% endblock %} <!--Defining the stylesheet of this template that will be inherited by the parent template(base.html)-->

{% block loggedin_content %} <!--Defining the logged in content that will be inherited by the parent template(base.html)-->
<div id="profilepage">
    <div id="userprofile">
        <div id="userinfo"> <!--The values stored in the built-in "user" variable are displayed here.-->
            <h1>User Profile</h1>
            <hr>
            <p>Name: {{user.username}}</p>
            <p>First Name: {{user.first_name}}</p>
            <p>Last Name: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <a href="{% url 'edit_profile' %}">Edit Profile</a><br>
            <a href="{% url 'password_change' %}">Change Password</a>
        </div>
        <form id="logoutform" method="post" action="{% url 'logout' %}"> <!--Once the logout button is pressed, a request is sent from the user to the view function of this template using the POST method, where the user is logged out-->
            {% csrf_token %} <!--For Cross-Site Request Forgery(CSRF) protection-->
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
    <div id="userhistory">
        <h1>User History</h1>
        {% if user_logs %} <!--This code block runs if the user has any logs of using the AI model-->
            {% for log in user_logs %} <!--This code block runs for each record of the logs of the user-->
                <div class="historybox"> <!--The values of the "user_logs" dictionary stored in the context of view function of this template is passed to this template and displayed below.-->
                    <div>Date: <br><br>{{log.date}}</div>
                    <div>Crypto Name: <br><br>{{log.input_coin}}</div>
                    <div>Days: <br><br>{{log.input_days}}</div>
                    <div>Predicted Trend: <br><br>{{log.output_trend}}</div>
                </div>
            {% endfor %}
        {% else %} <!--This code block runs if the user has not yet used the AI model-->
            <h3>Please use our cryptocurrency price prediction <a href="{% url 'model' %}">AI model</a> first to see the results of the prediction here!</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block loggedout_content %} <!--Defining the logged out content that will be inherited by the parent template(base.html)-->
<div id="accessdeniedpage">
    <div id="accessdenied">
        <h1>Access Denied!</h1>
        <p> In order to access this page, you'll need to login to this website first!</p><br>
        <p> Click <a href="{% url 'login' %}">here</a> to login to the website.</p>
        <p> Don't have an account? Click <a href="{% url 'signup' %}">here</a> to sign up first</p>
    </div>
</div>
{% endblock %}
